

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.product-list-item {
  margin: 0px 10px 10px 0px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 2px 2px 9px 0px #d6d6d6;
  max-width: 100%;
}
.product-list-item .caption{
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.image-loader img{
  padding: 0px;
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
}

.image-loader img:hover{
  border-color: #97310e;
}

.main-image-box {
  /*overflow: hidden;*/
  /*height:500px;*/
}
.main-image > img{
  max-height:100%;
  max-width:100%;
}

.pagination .active span{
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}

.navbar-form .form-control{
  border-radius: 0px;
}
.navbar-form .btn{
  border-radius: 0px;
}















