

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.product-list {
  padding-left: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  list-style: none;
  overflow: hidden;
}
.product-list li {
  float: left;
  width: 170px;
  height: 240px;
  padding: 0px;
  margin: 25px;
  font-size: 14px;
  border: 0px solid #ddd;
  border-radius: 0px;
  box-shadow: 4px 4px 9px 0px #d6d6d6;
}
.product-list li img{
  padding: 0px;
}
.product-list li p{
  padding-left: 5px;
  padding-top: 5px;
  text-align: left;
  color: gray;
}

.pagination .active span{
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}
















